<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragment/head :: head(~{::title}, ~{}, ~{})}">
    <title>发现片段 - 积录</title>
</head>
<body>
<div th:replace="~{fragment/header :: header}"></div>
<div class="container" id="wrapper">
    <p th:if="${snippetCardVoList} == null or ${snippetCardVoList.size()} < 1">还未创建任何片段，</p>
    <div class="card border-0" th:if="${snippetCardVoList} != null and ${snippetCardVoList.size()} > 0">
        <div class="card-header">
            <div class="row">
                <div class="col-md-9">
                    <div class="input-group">
                        <input class="form-control" id="snippetKeyword" type="search" th:value="${keyword}" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn text-secondary" type="submit" id="searchSnippet">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="snippetSort">排序:</label>
                        </div>
                        <select id="snippetSort" class="form-control form-control-chosen-require"
                                data-placeholder="请选择排序方式">
                            <option value="CREATED_RECENTLY" th:selected="${sort} == CREATED_RECENTLY">最新创建</option>
                            <option value="UPDATED_RECENTLY" th:selected="${sort} == UPDATED_RECENTLY">最新更新</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${snippetCardVoList} != null" th:replace="~{snippet/fragment/card-list :: snippetCardVoList}"></div>
        <div class="card-footer" th:if="${page.totalPages} gt 1" th:insert="~{fragment/pagination :: pagination}"></div>
    </div>
</div>
<div th:replace="~{fragment/footer :: footer}"></div>
<script type="text/javascript" src="../../static/js/snippet/discover.js" th:src="@{/js/snippet/discover.js}"></script>
</body>
</html>
