<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragment/head :: head(~{::title}, ~{}, ~{})}">
    <title>我的内容 - 积录</title>
</head>
<body>
<div th:replace="~{fragment/header :: header}"></div>
<div class="container-fluid px-5">
    <div class="row">
        <div class="col-md-2 px-0">
            <div class="card">
                <div class="list-group" th:if="${menuVoList} != null">
                    <a class="list-group-item" style="text-decoration: none" href="javascript:void(0)"
                       th:each="menuVo : ${menuVoList}" th:title="${menuVo.name}" th:text="${menuVo.name}"
                       th:attr="url=${menuVo.url}"></a>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="mainContainer">
            <!-- 页面加载区域 -->
        </div>
    </div>
</div>
<div th:replace="~{fragment/footer :: footer}"></div>
<script th:inline="javascript">
    const username = [[${#authentication.name}]]
</script>
<script type="text/javascript" src="../../static/js/ccp/index.js" th:src="@{/js/ccp/index.js}"></script>
</body>
</html>
