<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragment/head :: head(~{::title}, ~{}, ~{})}">
    <title>博客主页 - 积录</title>
</head>
<body>
<div th:replace="~{fragment/header :: header}"></div>
<div class="container" id="wrapper">
    <div class="container">
        <p th:if="${blogCardVoList} == null">网站还未任何公开博客！</p>
        <div class="card mt-1 border-0" th:if="${blogCardVoList} != null">
            <div th:replace="~{blog/fragment/card-list :: blogCardVoList}"></div>
            <div class="card-footer text-center p-0 ">
                <a href="/blog/more">more>></a>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragment/footer :: footer}"></div>
<script type="text/javascript" src="../../static/js/blog/index.js" th:src="@{/js/blog/index.js}"></script>
</body>
</html>
