<div class="row">
    <div class="col-md-9">
        <label class="sr-only" for="tags"></label>
        <input type="text" class="form-control form-control-tag" id="tags">
    </div>
    <div class="col-md-3 d-flex align-self-center" id="tagBtnGroup">
        <button type="button" class="btn btn-outline-secondary btn-sm btn-remove-tags">
            清空
        </button>
        <button type="button" class="btn btn-outline-primary" id="submitTagBtn">
            保存
        </button>
    </div>
</div>
<script type="text/javascript" src="../../static/js/tag/create_input.js" data-th-src="@{/js/tag/create_input.js}"></script>
