<div class="btn-group d-block" role="group" aria-label="Basic example">
    <button type="button" class="btn border-0 p-0 mr-2"
            data-th-if="${tagAtProductVoList} != null and ${tagAtProductVoList.size()} > 0"
            data-th-each="tagAtProductVo : ${tagAtProductVoList}">
        <a href="javascript:void (0)" data-th-if="${tagAtProductVo.labeled} == 0"
           class="btn btn-outline-info p-0 border-1 blog-tag" data-th-attr="tagId=${tagAtProductVo.tagId}" title="使用标签">
            <span class="text-dark" data-th-text="${tagAtProductVo.tagName}"></span>
            <span class="badge badge-light tag-size" data-th-text="${tagAtProductVo.counter}"></span>
        </a>
        <a href="javascript:void (0)" data-th-if="${tagAtProductVo.labeled} == 1"
           class="btn btn-info p-0 border-1 blog-tag" data-th-attr="tagId=${tagAtProductVo.tagId}" title="取消标签">
            <span data-th-text="${tagAtProductVo.tagName}"></span>
            <span class="badge badge-light tag-size" data-th-text="${tagAtProductVo.counter}"></span>
        </a>
    </button>

    <button type="button" class="btn border p-0" id="insertTag" title="添加标签">
        <a style="text-decoration: none" href="javascript:void (0)" data-toggle="modal" data-target="#tagModal">
            <span class="text-dark">添加标签</span>
            <span class="text-info"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
        </a>
    </button>
</div>
