<div class="container d-flex justify-content-start" data-th-if="${subjectList.size()} < 1">
    <a class="btn subject-create" role="button" title="新增主题"
       data-toggle="modal" data-target="#themeModal" data-th-attr="username=${#authentication.name}">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
    <p class="pt-2">还未任何主题</p>
</div>
<div class="container p-0" id="themeMainContainer">
    <table class="table" id="subjectList" data-th-if="${subjectList.size()} > 0">
        <thead>
        <tr>
            <th scope="col">
                <a class="btn btn-outline-light subject-create" role="button"  title="新增"
                   data-toggle="modal" data-target="#themeModal" data-th-attr="username=${#authentication.name}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </th>
            <th scope="col">编号</th>
            <th scope="col">名称</th>
            <th scope="col">描述</th>
            <th scope="col">版本</th>
            <th scope="col">排序</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="subject : ${subjectList}">
            <td></td>
            <td data-th-text="${subject.id}"></td>
            <td data-th-text="${subject.name}"></td>
            <td data-th-text="${subject.description}"></td>
            <td data-th-text="${subject.version.name}"></td>
            <td data-th-text="${subject.rank}"></td>
            <td>
                <a class="btn subject-update" data-toggle="modal" data-target="#themeModal" role="button" data-th-attr="themeId=${subject.id}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a class="btn subject-delete" role="button" data-th-attr="themeId=${subject.id}">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- themeModal -->
<div class="modal fade" id="themeModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">创建/编辑*主题</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="themeModalContainer">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../static/js/subject/list.js" data-th-src="@{/js/subject/list.js}"></script>
