<div class="container" id="version">
    <form data-th-action="@{/versions}" method="post" data-th-object="${versionModel.versionModifyForm}" id="versionForm">
        <input type="hidden" name="versionId" id="versionId" data-th-value="${versionId}">

        <div class="form-group">
            <label class="sr-only" for="name"></label>
            <input type="text" class="form-control" id="name" name="name" data-th-value="*{name}" placeholder="请输入版本名称">
        </div>

        <div class="form-group">
            <label class="sr-only" for="description"></label>
            <textarea rows="5" class="form-control" id="description" name="description" data-th-text="*{description}" placeholder="请输入版本描述"></textarea>
        </div>

        <button type="button" class="btn btn-outline-primary btn-block btn-sm" id="versionUpdate">更新版本</button>

    </form>
</div>

<script type="text/javascript" src="../../static/js/version/modify.js" data-th-src="@{/js/version/modify.js}"></script>
