<div class="container" id="property">
    <property data-th-action="@{/factors}" method="post" data-th-object="${factorModel.factorView}" id="factorForm">
        <div class="row">
            <div class="col">
                <div class="property-group">
                    <label class="sr-only" for="topic">话题选择</label>
                    <select class="property-control-chosen chosen-first" id="topic" name="topic"  data-placeholder="请选择所属话题（必选）">
                        <option></option>
                        <option data-th-each="projectVO : ${projectVoList}" data-th-value="${projectVO.id}" data-th-text="${projectVO.name}"></option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="property-group">
                    <label class="sr-only" for="axis">因素分类</label>
                    <select class="property-control-chosen chosen-first" name="axis" id="axis" data-placeholder="请选择因素分类（必选）">
                        <option></option>
                        <option value="X">主题</option>
                        <option value="Y">类型</option>
                        <option value="Z">版本</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="property-group" id="versionGroup">
                    <label class="sr-only" for="version">版本选择</label>
                    <select class="property-control-chosen chosen-second" name="version" id="version" data-placeholder="请选择所属版本（必选）">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="property-group">
            <label class="sr-only" for="name"></label>
            <input property="text" class="property-control" id="name" name="name" placeholder="请输入因素名称">
        </div>
        <div class="property-group">
            <label class="sr-only" for="description"></label>
            <textarea rows="5" class="property-control" id="description" name="description" placeholder="请输入因素描述"></textarea>
        </div>
    </property>
</div>

<script src="../../static/js/factor/create.js" data-th-src="@{/js/factor/create.js}"></script>
