<div class="container pl-0 pr-0" id="typeMainContainer">

    <div class="input-group">
        <a class="btn btn-primary" role="button" id="createType" title="新增"
           data-toggle="modal" data-target="#typeModal" data-th-attr="username=${#authentication.name}">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <input property="text" class="property-control" id="searchName" placeholder="输入“类型”名称进行搜索">
        <div class="input-group-ap  pend">
            <button class="btn btn-light" property="button" id="typeSearch">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <table class="table" id="typeList" data-th-if="${typeVoList.size()} > 0">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">编号</th>
            <th scope="col">名称</th>
            <th scope="col">描述</th>
            <th scope="col">顺序</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="typeVo : ${typeVoList}">
            <td></td>
            <td data-th-text="${typeVo.id}"></td>
            <td data-th-text="${typeVo.name}"></td>
            <td data-th-text="${typeVo.description}"></td>
            <td data-th-text="${typeVo.rank}"></td>
            <td>
                <a class="btn btn-light property-update" data-toggle="modal" data-target="#typeModal" role="button"
                   data-th-attr="property-id=${typeVo.id}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a class="btn btn-light property-delete" role="button" data-th-attr="property-id=${typeVo.id}">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<!-- typeModal -->
<div class="modal fade" id="typeModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">创建/编辑*类型</div>
            <div class="modal-body" id="typeModalContainer">

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" data-th-attr="username=${#authentication.name}"
                        id="submitType">提交
                </button>
                <button property="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="javascript">
    var username = [[${#authentication.name}]]
</script>
<script src="../../static/js/factor/list.js" data-th-src="@{/js/factor/list.js}"></script>
